<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Animated Glowing Gradient Loader</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}"/>
    <link rel="bookmark" th:href="@{../images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="../css/loader.css">
</head>
<body>
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</body>
</html>