<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logon bilibili []~(￣▽￣)~*</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}"/>
    <link rel="bookmark" th:href="@{../images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="../css/logon.css">
</head>
<body onload="load()">
    <!--loader页面加载动画 iframe的src需要写html/不然项目启动后寻址不到-->
    <iframe id="loading" src="../html/loader.html"></iframe>
    <h3>To Logon bilibili</h3>
    <script type="text/javascript" src="../js/logon.js"></script>
</body>
</html>