/*防止chrome浏览器自动填充导致账号密码框的样式改变*/
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {

    -webkit-text-fill-color: #925b47;
    /*改变光标颜色*/
    caret-color: #925b47;
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset;
    background-color:transparent;
    background-image: none;
    transition: background-color 5000000s ease-in-out 0s;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../images/login-background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #925b47;
    font-family: "Microsoft YaHei UI Light", serif;
}

#loginMessageInputBox {
    margin: 0 0 15px;
    padding: 5px 0 5px 0;
    text-align: center;
    background: #925b47;
    border: #3c251d 3px solid;
    border-radius: 6px;
}

#loginMessageInputBox #loginMessage {
    color: #3c251d;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

#loginMessageInputBox span i {
    color: #3c251d;
    float: right;
    margin-right: 10px;
    line-height: 21px;
    cursor: pointer;
}

#loginMessageInputBox span i:hover {
    color: #e0c6b7;
}

.loginBox {
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    width: 350px;
    min-height: 200px;
    background: inherit;
    box-shadow: inset 0 0 0 175px rgba(225, 225, 225, 0.25);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    z-index: 100;
    /*overflow: hidden;*/
    display: none;
}

.loginBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;
    background: inherit;
    /*box-shadow: inset 0 0 0 175px rgba(225, 225, 225, 0.25);*/
    /*background-color: #503227;*/
    filter: blur(10px);
}

.user {
    margin: 0 auto 20px;
    display: block;
    user-select: none;
}

.loginBox h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #925b47;
    text-align: center;
    user-select: none;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
    user-select: none;
}

.loginBox input[type="text"],.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #925b47;
    outline: none;
    height: 40px;
    color: #925b47;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:focus,.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #3299fe;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #925b47;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #3299fe;
    color: #e0c6b7;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.loginBox input[type="submit"]:hover {
    background: #59abfb;
}

.loginBox a {
    color: #925b47;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    user-select: none;
    margin-top: 15px;
}

.Visible {
    display: block !important;
}

.InVisible {
    display: none !important;
}
